body {
  background-color: #1a1f36;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

body h1 {
  font-size: 1.8em;
}
main {
  display: flex;
  justify-content: center;
}
.wrapper {
  height: 100%;
  margin-top: 56px;
  display: inline-block;
  background-color: #242b48;
  padding: 20px;
  color: #ffffff;
  min-width: 750px;
}

h1,
h2,
h3 {
  color: #ffffff;
}

.button {
  color: #ffffff;
  background-color: #374785;
  border: 1px solid #283a83;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.1s ease;
}

.button:hover {
  background-color: #495daf;
  border-color: #374785;
  color: #000000;
}

.button:active {
  background-color: #2e3a63;
  color: #ffffff;
  transform: translateY(2px); /* Смещение кнопки при нажатии */
}

.btn-filter{
  margin-left: 30px;
}



.alert-success {
  background-color: #2a7c4f;
  color: #ffffff;
}

.alert-danger {
  background-color: #c0392b;
  color: #ffffff;
}

.grid-view {
  background-color: #2d354b;
  color: #ffffff;
  border-radius: 8px;
  padding: 10px;
  display: inline-block;
  width: 100%;
}
.table {
  width: 80%;
}



#filter-form {
  margin-bottom: 20px;
}
